@use "../../scss/abstracts/" as *;

.about {
  &__container {
    row-gap: 2.5rem !important;

    @include breakpoint-up("xlarge") {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 4rem !important;
    }
  }

  &__me {
    width: 250px;
    border-radius: 2rem;
    padding-top: 2rem;
    background: linear-gradient(
      90deg,
      transparent,
      var(--first-color),
      transparent
    );
    display: grid;

    justify-self: center;

    @include breakpoint-up("xlarge") {
      width: 350px;
    }

    @include breakpoints-down("xs") {
      width: 230px;
    }
    &__img {
      width: 180px;

      transform: rotate(10deg);
      transition: var(--transition);
      justify-self: center;
      &:hover {
        transform: rotate(0);
      }

      @include breakpoint-up("xlarge") {
        width: 300px;
      }
    }
  }

  &__data {
    text-align: center;
    @include breakpoint-up("xlarge") {
      text-align: initial;
    }
    &__info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: 0.5rem;
      margin-bottom: 2rem;

      @include breakpoint-up("medium") {
        grid-template-columns: repeat(3, 140px);
        justify-content: center;
      }

      @include breakpoint-up("xlarge") {
        justify-content: initial;
      }
      &__box {
        background-color: var(--container-color);
        border-radius: 0.75rem;
        padding: 0.75rem 0.5rem;

        @include breakpoint-up("xlarge") {
          text-align: center;
          padding: 1rem;
        }
        &-icon {
          font-size: 1.5rem;
          color: var(--first-color);
          margin-bottom: 0.5rem;
        }

        &-title {
          font-size: var(--small-font-size);
        }

        &-subtitle {
          font-size: var(--tiny-font-size);
        }
      }
    }

    &__description {
      margin-bottom: 2rem;
      font-size: 1rem;

      @include breakpoint-up("medium") {
        padding: 0 5rem;
      }

      @include breakpoint-up("xlarge") {
        padding: 0 4rem 0 0;
        margin-bottom: 2.5rem;
      }
    }
  }
}
