@use "../../scss/abstracts/" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  @include flex(center, space-between);

  &__logo {
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: var(--transition);
    &:hover {
      color: var(--first-color-alt);
    }
  }

  &__menu {
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.5rem;
    backdrop-filter: blur(10px);
  }

  &__list {
    @include flex(center, space-between);
  }

  &__link {
    color: var(--text-color);
    font-size: 1.25rem;
    padding: 0.4rem;
    display: flex;
    border-radius: 5rem;
  }
}

// for active link
.active {
  background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
  );
  box-shadow: 0 0 rem(16) hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
}

// when scrolling change the background

.scroll-header {
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.3);
}
